.galerija .slika {
    width: 100px;
    height: auto;
    margin: 10px;
    transition: transform 0.2s; /* Animacija */
    cursor: pointer;
}

.galerija .slika:hover {
    transform: scale(1.1); /* Povećava sliku */
}

.modal {
    display: none; /* Skriven po defaultu */
    position: fixed;
    z-index: 1; /* Iznad svega */
    padding-top: 100px; /* Pozicija od vrha */
    left: 0;
    top: 0;
    width: 100%; /* Širina */
    height: 100%; /* Visina */
    overflow: auto; /* Omogućuje skrol */
    background-color: rgb(0, 0, 0); /* Pozadina */
    background-color: rgba(0, 0, 0, 0.9); /* Crna s transparencijom */
}

.modal-sadrzaj {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.zatvori {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.zatvori:hover,
.zatvori:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
