html {
    /*background-color: gray;*/
    font-family: sans-serif;

    background: linear-gradient(181deg, #000 0.82%, #4A2800 129.1%);
    backdrop-filter: blur(7px);
}

.maxw {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 75px;
    margin-top: 75px;

    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

nav > a {
    color: #FFF;

    /* Base */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

a:not(:first-child) {
    margin-left: 88px;
}

.contact-btn {
    width: 132px;
    height: 49px;
    flex-shrink: 0;
    margin-left: 37px;
    border-radius: 6px;
    background: #FA9021;
}

.intro-left {
    width: 527px;
    height: 404px;
    /*flex-shrink: 0;*/
}

.intro-left > h4 {
    color: #E87D0E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 155.2%; /* 31.04px */
}

.intro-left > h2 {
    color: #FFF;
    font-family: sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 155.2%; /* 77.6px */
}

.intro-left > p {
    color: #FFF;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%; /* 32px */
}

.intro-btn {
    width: 195px;
    height: 53px;
    border-radius: 40px;
    background: linear-gradient(92deg, #FA8305 2.08%, #FB9E3C 117.25%);
    margin-top: 55px;
}

.intro-right {
    width: 665px;
    height: 639px;

    position: absolute;
    right: 0;
    top: 0;
    /*flex-shrink: 0;*/
}

.games-heading {
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.games-txt {
    color: #FFF;
    font-family: Rubik;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: 187.5%; /* 58.125px */
}

.games-btn-click {
    width: 139px;
    height: 57px;
    flex-shrink: 0;

    border-radius: 10px;
    background: rgba(255, 255, 255, 0.11);

    color: #FFF;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 187.5%; /* 37.5px */
}

.games-holder {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 58px;
}

.games-align-items {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;

    color: #FFF;
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 187.5%; /* 41.25px */
}

.games-align-items>p{
    margin-left: 10px;
}

.desc-txt {
    display: flex;
    align-items: center;

    /*width: 826px;*/
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 187.5%; /* 65.625px */
}

.games-desc-txt {
    width: 545px;
    height: 173px;
    flex-shrink: 0;
}

.game-desc-txt>h4{
    width: 209px;
    height: 40px;
    flex-shrink: 0;

    color: #FFF;
    font-family: sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 187.5%; /* 56.25px */
}

.game-desc {
    margin-top: 130px;
}

.game-desc-txt>p{
    width: 545px;
    height: 101px;
    flex-shrink: 0;

    color: #FFF;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%; /* 30px */
}

.game-desc-img {
    margin-top: 45px;
}

.last-part-txt {
    display: flex;
    flex-direction: column;
    
    /*justify-content: center;*/

    align-items: center;
    text-align: center;
}

.last-part-txt>h4{
    width: 826px;

    color: #FFF;
    font-family: sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 187.5%; /* 56.25px */
}

.last-part-txt>p{
    width: 820px;
    height: 60px;
    flex-shrink: 0;

    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%; /* 30px */
}

/*
.last-part-circle {
    width: 65px;
    height: 65px;
    flex-shrink: 0;

    fill: #FFF;
}
*/

.last-part {
    margin-top: 250px;
    background-image: url(/Joystick/assets/img/Rectangle\ 5.png); max-width: 1440px;
}

.last-part-wrap {
    display: flex;
    /*justify-content: space-evenly;*/

    justify-content: center;
    
    /*align-content: center;*/
    flex-wrap: wrap;
    gap: 170px;
}

.circle-inside {
    /*
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    */

    display: flex;
    width: 65px;
    height: 65px;
    flex-shrink: 0;

    padding: 16px;
    background-color: #FFF;
    border-radius: 50%;
    box-sizing: border-box;

}

.block-inside {
    /*width: 192px;*/
    height: 170px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-inside>p{
    color: #FFF;

    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 187.5%; /* 30px */
}

.circle-inside>img{
    width: 32px;
    height: 32px;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-self: center;

    /*
    padding: 16px;
    background-color: #FFF;
    border-radius: 50%;
    box-sizing: border-box;
    */
}

.block {
    /*
    width: 65px;
    height: 65px;
    flex-shrink: 0;

    border-radius: 65px;
    background: #FFF;
    */

    display: flex;
    justify-content: center;

    /*flex-wrap: wrap;*/
}

.block>img{
    width: 65px;
    height: 65px;
    flex-shrink: 0;

    display: flex;
    flex-wrap: wrap;
}

/*
.image {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.mobile-dev {
    width: 65px;
    height: 65px;
    flex-shrink: 0;
}

.pc-dev {
    width: 65px;
    height: 65px;
    flex-shrink: 0;
}
*/

/* Novi pokusaj */

.end {
    margin-top: 200px;
}

.end-txt>h4{
    width: 209px;
    height: 40px;
    flex-shrink: 0;

    color: #FFF;
    font-family: sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 187.5%; /* 56.25px */
}

.end-txt>p{
    width: 545px;
    height: 57px;
    flex-shrink: 0;

    color: #FFF;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%; /* 30px */
}

.end-rectangle {
    width: 1170px;
    height: 189px;
    flex-shrink: 0;

    border-radius: 15px;
    background: #1C140F;

    margin-bottom: 200px;

    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;

    display: flex;
    align-items: center;
}

.end-rectangle-txt>h4{
    width: 303px;

    color: #FFF;
    font-family: sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.end-rectangle-txt>p{
    width: 636px;

    color: #FFF;
    font-family: sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*
.end-rectangle>h4{
    width: 303px;

    color: #FFF;
    font-family: sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.end-rectangle>p{
    width: 636px;

    color: #FFF;
    font-family: sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
*/
.end-submit {
    width: 386px;
    height: 48px;
    flex-shrink: 0;

    border-radius: 8px;
    background: #FFF;
}

.end-btn {
    width: 105px;
    height: 37px;
    flex-shrink: 0;

    border-radius: 8px;
    background: #DC7000;
}

/* Stari pokusaj */

