html {
    background: linear-gradient(180deg, #010101 -15.71%, #1A0E01 99.57%);
    backdrop-filter: blur(7px);
}

.maxw {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.top-part {
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*
.top-part>.logo-slika {
    width: 82px;
    height: 45px;
    flex-shrink: 0;
}
*/

nav>a {
    color: #FFF;

    /* Base */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-decoration: none;
}

a:not(:first-child) {
    margin-left: 88px;
}

.top-btn {
    width: 131.771px;
    height: 31.889px;
    flex-shrink: 0;

    border-radius: 6px;
    background: #FA9021;
    color: #FFF;

    margin-left: 35px;
}

.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    color: #E47500;
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 208.5%;
}

.intro-left {
    width: 425px;
    height: 450px;
    flex-shrink: 0;
}

.intro-left>.intro-about-us{
    color: #FFF;
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 208.5%; /* 25.02px */
}

.intro-left>h4{
    width: 425px;

    color: #FFF;
    font-family: sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 180.5%; /* 54.15px */
}

.intro-left>p{
    width: 414px;
    height: 95px;
    flex-shrink: 0;

    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 208.5%; /* 31.275px */
}

.intro-left>.intro-left-btn{
    color: #FFF;
    margin-top: 55px;

    width: 176px;
    height: 47.836px;
    flex-shrink: 0;

    border-radius: 40px;
    background: linear-gradient(92deg, #FA8305 2.08%, #FB9E3C 117.25%);
}

.intro-right{
    margin-top: 45px;

    width: 629px;
    height: 656px;
    flex-shrink: 0;

    background: url(<path-to-image>) lightgray 50% / cover no-repeat, #979797;
}

.work-with-us{
    margin-top: 145px;
}

.work-with-us>h2{
    width: 237px;

    color: #FFF;
    font-family: sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 180.5%; /* 45.125px */
}

.work-with-us-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
}

.work-with-us-rectangle{
    width: 378px;
    height: 348px;
    flex-shrink: 0;

    border-radius: 20px;
    background: #1C140F;
    box-shadow: 0px 4px 94px 0px rgba(0, 0, 0, 0.15);

    box-sizing: border-box;
}

.work-with-us-rectangle>h4{
    margin-left: 37px;

    color: #FFF;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 187.5%; /* 37.5px */
}

.work-with-us-rectangle>p{
    width: 304px;
    height: 108px;
    flex-shrink: 0;

    margin-left: 37px;

    color: #FFF;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%; /* 26.25px */
}

.work-with-us-rectangle>.btn-1{
    color: #FFF;
    margin-top: 64px;
    margin-left: 37px;

    width: 140px;
    height: 39px;
    flex-shrink: 0;

    border-radius: 8px;
    background: rgba(176, 0, 220, 0.11);
}

.work-with-us-rectangle>.btn-2{
    color: #FFF;
    margin-top: 64px;
    margin-left: 37px;

    width: 140px;
    height: 39px;
    flex-shrink: 0;

    border-radius: 8px;
    background: rgba(220, 66, 0, 0.11);
}

.work-with-us-rectangle>.btn-3{
    color: #FFF;
    margin-top: 64px;
    margin-left: 37px;

    width: 140px;
    height: 39px;
    flex-shrink: 0;

    border-radius: 8px;
    background: rgba(0, 220, 141, 0.11);
}

.game-desc {
    margin-top: 150px;

    width: 1441px;
    height: 603px;
    flex-shrink: 0;

    background: #1C140F;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-desc-right {
    margin-right: 40px;
}

.game-desc-right>h6{
    width: 105.073px;

    color: #FFF;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 202.5%; /* 32.4px */
}

.game-desc-right>h4{
    width: 531.369px;
    height: 150px;
    flex-shrink: 0;

    color: #FFF;
    font-family: sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 157.5%; /* 44.1px */
}

.game-desc-right>p{
    width: 536.372px;
    height: 159px;
    flex-shrink: 0;

    color: #FFF;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 202.5%; /* 32.4px */
}

.our-team {
    margin-top: 150px;
    margin-bottom: 150px;
}

.our-team>h4{
    width: 139px;

    color: #FFF;
    font-family: sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 180.5%; /* 45.125px */
}

.our-team-rectangle {
    width: 295px;
    height: 253px;
    flex-shrink: 0;

    border-radius: 20px;
    background: #1C140F;

    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: center;
}

.our-team-rectangle>h4{
    color: #FFF;
    font-family: sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 202.5%; /* 38.475px */
}

.our-team-rectangle>p{
    color: #E8E8E8;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 202.5%; /* 32.4px */
}

.our-team-holder {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.the-end {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1440px;
    height: 83px;
    flex-shrink: 0;

    background: #070707;
}

.the-end>p{
    color: #FFF;

    font-family: sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 190.6%; /* 24.778px */
}