/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    
}

html {
    background: #FFF;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    text-decoration: none;
    color: #050B20;
}
body{
    overflow: auto;
}

.maxw {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}


/* Globalne za aute */
/* SLIKE */
.img-car-wrapper{
    position: relative;
   
}

.img-car{
    width: 100%;
    height: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    object-fit: cover;
}


.save {
    border-radius: 18px;
    background: #FFF;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.save.active{
    background-color: #5e76edf3;
}

.save>img {
    padding: 10px;
}

.great-price {
    border-radius: 30px;
    background: #3D923A;
    width: 104.23px;
    height: 29.9px;
    z-index: 5;
    position: absolute;
    top: 23px;
    left: 20px;
   
}

.great-price>p {
    padding-top: 3px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 25.9px;
    text-align: center;
}

.sale {
  border-radius: 30px;
    background: #405FF2;
    width: 57.47px;
    height: 29.9px;
    z-index: 50;
    position: absolute;
    top: 23px;
    left: 20px;
}

.sale>p {
    padding-top: 3px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 25.9px;
    text-align: center;
}



/* ISPOD SLIKE */


.price {
    padding-left: 31px;
    padding-right: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.price>span {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
}


.view-details {
    color: #405FF2;
    font-size: 15px;
    font-weight: 500;
    line-height: 185%;
    cursor: pointer;
    
}


.discount>p {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
}

.discount>span {

    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: line-through;
}

.ikone {
    width: 266px;
    height: 69.29px;
    display: flex;
    justify-content: space-between;
}

.ikone-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ikone-items>img {
    width: 18px;
    height: 18px;
    margin-bottom: 10px;
}

.ikone-items>p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.car-info {
    padding-left: 31px;
    padding-right: 31px;
    margin-top: 17px;
}

.car-info>span {

    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    margin-bottom: 5px;
    padding-left: 31px;
    padding-right: 31px;
}

.car-info>p {
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
}




.slider-arrows {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    cursor: pointer;
}




/* HEADER */
.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.header-left>a:not(:first-child) {
    margin-left: 30px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left>a {
    font-size: 15px;
    font-weight: 500;
    line-height: 27.75px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right>a {
    font-size: 15px;
    font-weight: 500;
    line-height: 27.75px;
}

.header-btn {
    margin-left: 30px;
     border-radius: 16px;
    border: 1px solid #050B20;
    background: #FFF;
    display: flex;
    width: 152.86px;
    height: 47.75px;
    padding: 9.125px 25.644px 10.875px 26px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* SEKCIJA 1 SLIDER */
.slider {
    margin-top: 30px;
    margin-bottom: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    position: relative;
}

.intro-img {
    position: relative;
    width: 100%;
    height: 600px;
}

.intro-img-slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.intro-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    box-sizing: border-box;
}

.intro-slide.active {
    opacity: 1;
}

.intro-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.intro-img span,
.intro-img p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    color: white;
    width: 100%;
}

.intro-img span {
    top: 20%;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.intro-img p {
    top: 30%;
    font-size: 52px;
    font-weight: 500;
    line-height: 52px;
}

.intro-arrows {
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    align-items: center;
}

.intro-img-left,
.intro-img-right {
    display: inline-flex;
    height: 40px;
    width: 60px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;

}
.intro-img-left{
    margin-left: 50px;
}
.intro-img-right {
    margin-right: 50px;
}

.intro-img-left:hover,
.intro-img-right:hover {
    background: rgba(255, 255, 255, 0.8);
    transition: 0.5s ease-in-out;
}

/* SEKCIJA 2 SELECT BODY */

.crni-naslov {
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}

.select-body-type {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.select-body-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.select-body-img>p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
}

/* SEKCIJA 3 BIG*/
.big {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    margin-bottom: 230px;
}

.big-left>h3 {
    margin-left: 90px;
    width: 366.62px;
    height: 96px;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.big-right {
    padding-left: 50px;
    width: 40%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
}

.big-right-elementi>h5 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.big-right-elementi>p {
    width: 311.28px;
    height: 55.5px;
    font-size: 15px;
    font-weight: 400;
    line-height: 27.75px;
}

/* SEKCIJA 4 MOST SEARCHED */

.msc-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.msc-nav {
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 29.6px;
    cursor: pointer;
}

.msc-nav>p:not(:first-child) {
    margin-left: 30px;
}

.msc-nav-crtica::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #405FF2;
    display: flex;
}

/* SEKCIJA 5 BUY - SELL */
.buy-sell {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    gap:30px;
}

.buy-sell-items {
    position: relative;
    width: 50%;
    height: 393.72px;
    border-radius: 16px;
}

.bs-left {
    background: #E9F2FF;
}

.bs-right {
    background: #FFE9F3;
}

.buy-sell-items>h2 {
    padding-left: 80px;
    padding-top: 80px;
    font-size: 30px;
    font-weight: 700;
    line-height: 150%;
    width: 250.5px;
}

.buy-sell-items>p {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 80px;
    font-size: 15px;
    font-weight: 400;
    line-height: 185%;
}

.buy-sell-items>.buy-sell-btn {
    margin-left: 80px;
    width: 158.94px;
    height: 59.995px;
    border-radius: 12px;
    color: #FFF;
    cursor: pointer;
}

.bs-blue {
    border: 1px solid #405FF2;
    background: #405FF2;
}

.bs-black {
    border: 1px solid #050B20;
    background: #050B20;
}

.buy-sell-img{
    position: absolute;
    bottom: 50px;
    right: 80px;
    width: 110px;
height: 110px;
flex-shrink: 0;
}


/*  SEKCIJA 6 RECOMMENDED */


.container {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    flex-wrap: wrap;
}

.low-milage {
    border-radius: 30px;
    background: #405FF2;
    width: 110.38px;
    height: 29.89px;
    position: absolute;
    top: 23px;
    left: 20px;
}


.low-milage>p {
    padding-top: 6px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    z-index: 50;
}

/* SEKCIJA 7 ONLINE */
.online {
    margin-top: 130px;
    height: 600px;
    background: #050B20;
    display: flex;

}



.online-left {
    width: 50%;
}

.online-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.online-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 30px;
}
.online-right>h4 {
    margin-bottom: 30px;
    color: #FFF;
    width: 351.4px;
    height: 112px;
    font-size: 40px;
    font-weight: 700;
    line-height: 140%;

}

.online-right>p {
    margin-bottom: 30px;
    color: #FFF;
    display: flex;
    width: 572.23px;
    height: 55.5px;
    font-size: 15px;
    font-weight: 400;
    line-height: 185%;
}

.online-right>button {
    width: 158.94px;
    height: 53.22px;
    color: #FFF;
    background: #050B20;
    border-radius: 12px;
    border: 1px solid #FFF;
    cursor: pointer;
}


/* SECTION 8 BROJKE */
.online-numbers {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #E1E1E1;
    background: #FFF;
    margin-bottom: 170px;
    margin-top: 60px;
    
}

.online-numbers-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.online-numbers-items>p {

    font-size: 38px;
    font-weight: 700;
    line-height: 140%;
}

.online-numbers-items>span {
    font-size: 15px;
    font-weight: 400;
    line-height: 250%;
}

/* SEKCIJA 9 UPCOMING */
.upcoming-cars>h4 {
    margin-bottom: 40px;
}

/* SEKCIJA 10 CUSTOMERS */

.customers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 115px;
    margin-bottom: 115px;
}

/* LEFT */
.customers-left {
    display: flex;
    flex-direction: column;
}

.customers-left>h3 {
    width: 296.01px;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.customers-left>span {
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
}

.customers-left>img {
    margin-top: 20px;
    width: 100px;
    height: 26px;
    flex-shrink: 0;
}

.customers-text-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 5px;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
}

.customers-text-wrapper>span {
    font-weight: 500;
}

/* RIGHT */
.customers-arrows {
    margin-top: 60px;
    margin-bottom: 90px;
    display: flex;
    justify-content: end;
    gap: 70px;
    cursor: pointer;
}

.cr-stars-flex {
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
}

.cr-stars-wrapper {
    display: flex;
    gap: 2px;
}

.cr-stars {
    background: #00B67A;
    width: 19.25px;
    height: 20.5px;
}

.cr-stars>img {
    padding: 4px;
}

.cr-verified {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cr-verified>p {
    color: #6C6C83;
    font-size: 14px;
    font-weight: 400;
    line-height: 185%;
}

.verified {
    width: 17px;
    height: 17.5px;
    border-radius: 8.5px;
    background: #6C6C83;
}

.verified>img {
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
}

.cr-review>h6{
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
}

.cr-review>span {
    font-size: 14px;
    font-weight: 400;
    line-height: 185%;
}

.review-text {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 748.447px;
    font-size: 26px;
    font-weight: 500;
    line-height: 160%;
}

.review-img-wrapper {
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.review-img {
    opacity: 0.4;   
    flex-shrink: 0;
}


.review-img.active {
    opacity: 1;
    border-radius: 35px;
    border: 2px solid #405FF2;
}



/* SEKCIJA 11 BLOG POST */

.blog {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.blog-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog-top>h2 {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}

.blog-top>span {
    font-size: 15px;
    font-weight: 500;
    line-height: 100%;
}

.blog-bot {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog-img {
    width: 447px;
    height: 298px;
    flex-shrink: 0;
    position: relative;
    
}

.blog-img img{
    border-radius: 15px;
    object-fit: cover;
}
.blog-sound {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 30px;
    background: #FFF;
    width: 71.97px;
    height: 35.89px;
    z-index: 20;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-sound>p {
    font-size: 14px;
    font-weight: 500;
    line-height: 185%;
}


.blog-date {
    display: flex;
    gap: 30px;
}


.blog-date>span {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 400;
    line-height: 185%;

}

.blog-car-desc>p {
 font-size: 20px;
    font-weight: 500;
    line-height: 150%;
   width: 428.16px;
   
}

.blog-acc{
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 30px;
    background: #FFF;
    width: 110.38px;
    height: 35.89px;
    z-index: 20;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-acc>p{
    font-size: 14px;
    font-weight: 500;
    line-height: 185%;
}

.blog-exterior {
    border-radius: 30px;
    background: #FFF;
    width: 81.45px;
    height: 35.89px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-exterior>p {
   font-size: 14px;
    font-weight: 500;
    line-height: 185%;
}


/* SEKCIJA 12 PREMIUM   */

.premium-section {
    margin-top: 115px;
    margin-bottom: 200px;
}

.premium-top {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.premium-top>h4 {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
}

.premium-top>p {
 font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    cursor: pointer;
}


.premium-img-flex{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.premium-img {
    width: 209px;
    height: 180.59px;
    border-radius: 16px;
    border: 1px solid #E9E9E9;
    background: #FFF;
    cursor: pointer;
}

.premium-img>img {
    padding: 26px 54.5px;
}

.premium-img>p {
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
}


/* SEKCIJA 13 FAQ */
.contact-section {
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.contact-left {
    width: 616.5px;
    height: 540.11px;
}

.contact-right-info {
    margin-top: 90px;
    margin-right: 228px;
}

.contact-right-info>h3 {
    margin-bottom: 20px;
     font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    width: 546.26px;
}

.contact-right-info>p {
    margin-bottom: 20px;
    width: 210.47px;
    font-size: 15px;
    font-weight: 400;
    line-height: 185%;

}

.contact-right-info-btns {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.cbtn-num {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 211.31px;
    height: 46px;
    border-radius: 44px;
    border: 1px solid #050B20;
    background: #FFF;
}

.cbtn-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 217.64px;
    height: 46px;
    border-radius: 44px;
    border: 1px solid #050B20;
    background: #FFF;
}

.cbtn-started {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 158.94px;
    height: 53.22px;
    border-radius: 12px;
    border: 1px solid #050B20;
    background: #050B20;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    line-height: 100%;
    cursor: pointer;
}

/* SEKCIJA 12 ABOUT US */
.about-us-section {
    display: flex;
    justify-content: space-between;
}

.about-us-nav {
    display: flex;
    flex-direction: column;
    width: 256px;
}

.about-us-nav>h5 {

    font-size: 25px;

    font-weight: 500;
    line-height: 24px;
}

.about-us-nav>a {
    margin-top: 20px;

    font-size: 15px;
    font-weight: 400;
    line-height: 27.75px;
}

.about-us-info{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.about-us-info>h5 {
    margin-bottom: 20px;
font-size: 25px;
font-weight: 500;
    line-height: 20px;
}

.about-us-info>span {
    margin-bottom: 30px;
font-size: 15px;
font-weight: 400;
    line-height: 250%;
}


.about-ikone {
    margin-top: 40px;
    display: flex;
    gap: 30px;
}

/* FOOTER 13 */

.footer {
    margin-top: 75px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    line-height: 185%;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* JS stvari */
/* LOADER */

.loader-wrapper {
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #333;
}

.hide-loader {
    display: none;
}
.hide-content {
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #fff;
    animation: prixClipFix 2s linear infinite;
}
.loader::after {
    border-color: #ff3d00;
    animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
    inset: 6px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}


/* HAMBURGE MENU */
.hamburger {
    cursor: pointer;
    z-index: 100;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    background-color: #333;
    padding: 10px;
    height: 25px;
    border-radius: 5px;
    display: none;
}

.hamburger.active{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger.active:hover{
    background-color: red;
}

.line {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-bottom: 0;
    padding-bottom: 0;
}

.hamburger-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    z-index: 50;
     display: none; 
}

.hamburger-menu.active {
    left: 0%;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: ease-in;
    animation-duration: 2s;
    
}


.hamburger-menu ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

.hamburger-menu ul li {
    list-style: none;
    color: #f4f4f4;
    font-size: 25px;
}

.hamburger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(4px, 1px);
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(3px, -2px);
}

.hamburger-menu a {
    color: white;
}

.no-scroll {
    overflow: hidden;
}


/* responsive */

@media only screen and (max-width: 1580px){
    .online-left{
        width: 60%;
        display: flex;
    }
}

@media only screen and (max-width: 1050px){
   .hamburger{
    display: flex;
   }
   .header-nav{
    display: none;
   }
   .header-btn{
    margin-right: 30px;
   }
}