.slika {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 1886px ){
    .grid {
        /*padding-left: 50px;*/
        padding-right: 50px;
        padding-bottom: 50px;
    }

    .container {
        /*
        margin: 0 auto;
        padding: 010%;
        */
    }
}

@media only screen and (max-width: 1784px ) {
    .container {
        margin-left: 170px;
        margin-right: 62px;
        
        padding-left: 54px;
        padding-right: 54px;
    }

    .grid {
        padding-right: 100px;
        padding-bottom: 100px;
    }

    .txt>h1 {
        font-size: 80px;
    }

    .txt>h3 {
        margin-top: 16px;
        margin-bottom: 37px;
    }

    .watch {
        width: 286px;
        height: 353px; 
    }

    .watch>.mali-sat {
        margin-bottom: 20px;

        width: 259px;
        height: 259px;
    }
}

@media only screen and (max-width: 1710px ) {
    .container {
        padding-left: 58px;
        padding-right: 58px;
    }

    .txt>h1 {
        font-size: 60px;
    }

    .txt>h3 {
        margin-top: 13px;
        margin-bottom: 26px;
    }

    .watch {
        width: 257px;
        height: 357px;
    }

    .watch>.mali-sat {
        width: 246px;
        height: 246px;
    }
}

@media only screen and (max-width: 1644px ) {
    .container {
        padding-left: 62px;
        padding-right: 62px;
    }

    .container>.left {
        margin-top: 90px;
    }

    .txt>h1 {
        font-size: 57px;
    }

    .txt>h3 {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .watch {
        width: 220px;
        height: 322px;
    }

    .watch>.mali-sat {
        /*
        width: 293px;
        height: 293px;
        */
        width: 187px;
        height: 187px;
    }
}

@media only screen and (max-width: 1592px ) {
    .container {
        padding-left: 66px;
        padding-right: 66px;
    }

    .container>.left {
        margin-top: 70px;
    }

    .txt>h1 {
        font-size: 55px;
    }

    .txt>h3 {
        font-size: 25px;

        margin-top: 6px;
        margin-bottom: 11px;
    }

    .txt>p {
        font-size: 15px;
    }

    .watch {
        width: 204px;
        height: 317px;
    }
}

@media only screen and (max-width: 1440px ) {
    .container {
        padding-left: 70px;
        padding-right: 70px;
    }

    .container>.left {
        margin-top: 50px;
    }

    .txt>p {
        font-size: 12px;
    }

    .txt>h3 {
        margin-top: 4px;
        margin-bottom: 8px;
    }

    .watch {
        width: 187px;
        height: 285px;
    }
}