* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #0A1A32;
}

a {
    color: #FFF;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.link{
    margin-right: 49px;
}

.link-buy{
    margin-left: 75px;
    margin-right: 9px;
    padding-top: 11px;
    padding-right: 28px;
    padding-bottom: 9px;
    padding-left: 23px;
    border: 1px solid #000;
    background: #F29494;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sw-logo{
    margin-right: 885px;
    margin-left: 200px;
}

.glavni-dio {
    color: #D8D8D8;
    text-align: justify;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 200px;
    margin-right: 200px;
}

.sw-naslov{
    margin-top: 114px;
    margin-bottom: 19px;
}

.sw-podnaslov{
    margin-bottom: 45px;
}

h6 {
    color: #EF9C9C;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 15px;
}

.txt{
    margin-bottom: 50px;
}

.smartwatch-slike{
    height: 400px;
    width: 750px;
}

.white {
    width: 306px;
    height: 372px;
    flex-shrink: 0;
    border-radius: 41px;
    background: #2B3544;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
    margin-right: 42px;
    margin-bottom: 20px;
}

.dark {
    width: 306px;
    height: 372px;
    flex-shrink: 0;
    border-radius: 41px;
    background: #2B3544;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
}

.desni-dio{
    position: absolute;
    right: 0px;
}

.btn {
    border: 1px solid #000;
    background: #F29494;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}