* {
    margin: 0;
    padding: 0;
}

/* ==================================== */
/* Loader */
/* ==================================== */

.loader-wrapper {
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #333;
}

.hide-loader {
    display: none;
}
.hide-content {
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #fff;
    animation: prixClipFix 2s linear infinite;
}
.loader::after {
    border-color: #ff3d00;
    animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
    inset: 6px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}

/* ==================================== */
/* Hamburger Menu */
/* ==================================== */

.hamburger {
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    background-color: #333;
    padding: 10px;
    height: 45px;
    border-radius: 5px;
}

.line {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-bottom: 0;
    padding-bottom: 0;
}

.hamburger-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
    left: 100%;
    z-index: 50;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease;
}

.hamburger-menu.active {
    left: 0%;
}

.hamburger-menu ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

.hamburger-menu ul li {
    list-style: none;
    color: #f4f4f4;
    font-size: 25px;
}

.hamburger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(16px, 5px);
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(16px, -5px);
}

.hamburger-menu a {
    color: white;
}

/* ==================================== */
/* Modal */
/* ==================================== */

.modal-btn:hover {
    background: transparent;
    color: gold;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(73, 166, 233, 0.5);
    display: grid;
    place-items: center;
    transition: all 0.3s linear;
    visibility: hidden;
    z-index: -10;
}

/* OPEN/CLOSE MODAL */
.open-modal {
    visibility: visible;
    z-index: 10;
}
.modal-container {
    background: white;
    border-radius: 0.5rem;
    width: 90vw;
    height: 30vh;
    max-width: 620px;
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
}
.modal-container>h3{
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.modal-submit{
    margin-top: 20px;
    margin-left: 30px;

    border-radius: 16px;
    border: 1px solid #050B20;
    background: skyblue;

    display: flex;
    width: 100px;
    height: 50px;
    padding: 9.125px 25.644px 10.875px 26px;
    justify-content: center;
    align-items: center;
}
.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: red;
    cursor: pointer;
    transition: all 0.3s linear;
}
.close-btn:hover {
    color: hsl(360, 71%, 66%);
    transform: scale(1.3);
}
#mail {
    height: 35px;
    color: #000;
    border: 1px solid black;
}

/*--------------------------------------------------*/

html {
    background: #FFF;
}

body {
    overflow-x: hidden;
}

.maxw {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.top-part {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 30px;
}

.top-left>a:not(:first-child) {
    margin-left: 40px;
}

.top-left {
    display: flex;
    align-items: center;
}

.top-left>a {
    color: #050B20;

    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.75px;
    /* 185% */
    text-transform: capitalize;
    text-decoration: none;
}

.top-right {
    display: flex;
    align-items: center;
}

.top-right>.modal-btn {
    color: #050B20;

    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.75px;
    /* 185% */
    text-transform: capitalize;
    text-decoration: none;

    background-color: skyblue;
    border: 1px solid #050B20;
    border-radius: 6px;
    padding: 5px;
}

.top-right-btn {
    margin-left: 30px;

    border-radius: 16px;
    border: 1px solid #050B20;
    background: #FFF;

    display: flex;
    width: 152.86px;
    height: 47.75px;
    padding: 9.125px 25.644px 10.875px 26px;
    justify-content: center;
    align-items: center;
}

.intro {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #FFF;
}

.intro h4,
.intro p {
    margin: 0 auto;
}

.intro-img-slider {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.intro-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Pokusaj */
.intro-slide>h4 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */
}

.intro-slide>p {
    position: absolute;
    width: 781.944px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #FFF;
    font-family: sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px;
    /* 100% */
}

.intro-slide.active {
    opacity: 1;
}

.intro-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-arrows-block {
    margin-bottom: 200px;

    position: absolute;
    width: 70%;
    bottom: 30%;

    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

/* ----------------------------- */

.intro-img-left,
.intro-img-right {
    margin-left: 30px;

    width: 63px;
    height: 40px;

    border-radius: 40px;
    background: rgba(255, 255, 255, 0.20);
}

.intro-img-left:hover,
.intro-img-right:hover {
    background: yellow;
    transition: 0.5s ease-in-out;
}

.intro-car-type {
    background-color: #FFF;
    width: 1920px;
    height: 590px;
    /*margin-top: -100px;*/
}

.intro-cars>h4 {
    padding-top: 115px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    /*
    display: flex;
    width: 377.157px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    */
    color: #050B20;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 100% */
}

.intro-car-holder {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 64px;
}

.intro-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-block>p:hover {
    background-color: skyblue;
    width: 200px;
}

.intro-block>p {
    color: #050B20;

    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.6px;
    /* 120% */
}

.boxcars-offerings {
    display: flex;
    justify-content: space-between;
}

.boxcars-offerings-left>h4 {
    margin-top: 115px;
    margin-left: 90px;

    width: 366.62px;
    height: 96px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 120% */
    text-transform: capitalize;
}

.boxcars-offerings-right {
    margin-top: 115px;

    width: 670px;

    display: flex;
    /*align-items: center;*/
    flex-wrap: wrap;
    gap: 45px;
}

.boxcars-offerings-block>img {
    margin-bottom: 20px;
}

.boxcars-offerings-block>h4 {
    margin-bottom: 15px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
}

.boxcars-offerings-block>p {
    width: 311.28px;
    height: 55.5px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.75px;
    /* 185% */
}

.save-icon {
    position: relative;
    top: 8px;
    right: 16px;

    width: 16px;
    height: 16px;
    flex-shrink: 0;

    /* Naknadno dodano: */
    margin-top: -10px;
    margin-left: 15px;
}

.save-icon:hover {
    cursor: pointer;
}

.icon-arrow:hover {
    cursor: pointer;
}

.most-searched-cars {
    margin-top: 230px;
}

.most-searched-cars-block.active {
    opacity: 1;
}

.most-searched-cars-tabs>p:hover {
    cursor: pointer;
    color: #405FF2;
}

.most-searched-cars>h4 {
    margin-bottom: 40px;

    color: #050B20;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 100% */
}

.most-searched-cars-tabs {
    margin-bottom: 60px;

    display: flex;
    justify-content: center;
}

.most-searched-cars-tabs>p {
    color: #050B20;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 29.6px;
    /* 185% */
}

.most-searched-cars-tabs>p:not(:first-child) {
    margin-left: 30px;
}

/*
.msc-div::after {
    content: '';
    width: 47.17px;
    height: 2px;
    flex-shrink: 0;

    background: #405FF2;
    display: flex;
    position: absolute;
}
*/

.most-searched-cars-holder {
    display: flex;
    justify-content: space-between;

    gap: 30px;
}

.msc-img-left-green {
    /*
    margin-top: 20px;
    margin-left: 20px;
    */
    position: absolute;
    transform: translate(-250px);

    border-radius: 30px;
    background: #3D923A;
    width: 104.23px;
    height: 29.9px;

    color: #FFF;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.9px;
    /* 185% */
    text-transform: capitalize;
    text-align: center;
}

.msc-img-right {
    margin-top: 20px;
    margin-right: 20px;

    border-radius: 18px;
    background: #FFF;

    position: absolute;
    transform: translate(270px);

    width: 36px;
    height: 36px;
}

.msc-img-right>img {
    padding: 12px;
}

.msc-img-left-blue {
    /*
    margin-top: 20px;
    margin-left: 20px;
    */
    position: absolute;
    transform: translate(-250px);

    border-radius: 30px;
    background: #405FF2;

    width: 57.47px;
    height: 29.9px;

    color: #FFF;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.9px;
    /* 185% */
    text-transform: capitalize;
    text-align: center;
}

.most-searched-cars-block {
    width: 328px;
    height: 433.14px;

    display: flex;
    flex-direction: column;
}

.most-searched-cars-block>h4 {
    margin-top: 15px;
    margin-bottom: 5px;

    padding-left: 31px;
    padding-right: 31px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.6px;
    /* 120% */
}

.most-searched-cars-block>p {
    padding-left: 31px;
    padding-right: 31px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 100% */
}

.msc-icons {
    margin-left: 30px;

    width: 266px;
    height: 69.29px;
    /*
    display: grid;
    grid-template-columns: auto auto auto;
    */

    display: flex;
    justify-content: space-between;
}

.msc-icon-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.msc-icon-set>img {
    width: 18px;
    height: 18px;
    flex-shrink: 0;

    margin-bottom: 10px;
}

.msc-icon-set>p {
    color: #050B20;

    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 100% */
}

.msc-prices {
    margin-left: 30px;

    width: 266px;
    /*
    display: grid;
    grid-template-columns: auto auto;
    */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msc-prices>h4 {
    color: #050B20;

    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 150% */
}

.msc-grid>h4 {
    color: #050B20;

    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 150% */
}

.msc-grid>h5 {
    color: #050B20;

    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
    text-decoration-line: line-through;
}

.msc-price-detail {
    color: #405FF2;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.75px;
    /* 185% */
}

.most-searched-cars-below {
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.car-deals {
    margin-top: 100px;

    display: flex;
    justify-content: space-between;
}

.car-deals-block {
    width: 685px;
    height: 393.72px;
    flex-shrink: 0;

    box-sizing: border-box;
    border-radius: 16px;
    background: #E9F2FF;
}

.car-deals-block>h4 {
    padding-top: 80px;
    padding-left: 80px;

    margin-bottom: 15px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    /* 150% */
}

.car-deals-block>p {
    margin-bottom: 15px;
    padding-left: 80px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.75px;
    /* 185% */
}

.car-deals-block>.cdb-btn-1 {
    margin-left: 80px;

    width: 158.94px;
    height: 59.995px;

    border-radius: 12px;
    border: 1px solid #405FF2;
    background: #405FF2;
    color: #FFF;
}

.car-deals-block>.cdb-btn-2 {
    margin-left: 80px;

    width: 158.94px;
    height: 59.995px;

    border-radius: 12px;
    border: 1px solid #050B20;
    background: #050B20;
    color: #FFF;
}

.car-deals-block>img {
    margin-left: 495px;

    padding-right: 80px;
    padding-bottom: 50px;
}

.recommended-cars {
    margin-top: 150px;
}

.recommended-cars>h4 {
    color: #050B20;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 100% */
}

.rc-cars-left-green {
    /*
    margin-top: 20px;
    margin-left: 20px;
    */

    border-radius: 30px;
    background: #3D923A;

    position: absolute;
    transform: translate(-250px);

    width: 104.23px;
    height: 29.89px;

    color: #FFF;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.9px;
    /* 185% */
    text-transform: capitalize;
    text-align: center;
}

.rc-cars-left-blue {
    /*
    margin-top: 20px;
    margin-left: 20px;
    */

    border-radius: 30px;
    background: #405FF2;

    position: absolute;
    transform: translate(-250px);

    width: 110.38px;
    height: 29.89px;

    color: #FFF;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.9px;
    /* 185% */
    text-transform: capitalize;
    text-align: center;
}

.recommended-cars-holder {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;

    margin-top: 40px;
    /*
    display: flex;
    justify-content: space-between;
    */
}

.recommended-cars-block {
    width: 328px;
    height: 454.14px;

    box-sizing: border-box;
}

.rc-icons {
    padding-left: 31px;
    padding-right: 31px;

    margin-top: 15px;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
}

.rc-icon-set {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rc-icon-set>p {
    margin-top: 10px;

    color: #050B20;

    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 100% */
}

.rc-prices {
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding-left: 31px;
    padding-right: 31px;
}

.rc-prices>h4 {
    color: #050B20;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 150% */
}

.rc-prices>p {
    color: #405FF2;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.75px;
    /* 185% */
}

.rc-prices-grid {
    display: flex;
    flex-direction: column;
}

.rc-prices-grid>p {
    color: #050B20;

    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 150% */
}

.rc-prices-grid>.rc-old-price {
    color: #050B20;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
    text-decoration-line: line-through;
}

.recommended-cars-below {
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.buy-car-online {
    margin-top: 130px;

    width: 1580px;
    height: 600px;
    flex-shrink: 0;

    background: #050B20;

    display: flex;
    justify-content: space-between;
}

.buy-car-online-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding-right: 30px;
}

.buy-car-online-right>h4 {
    margin-bottom: 30px;

    color: #FFF;

    /*text-align: center;*/
    display: flex;
    justify-content: center;

    font-family: sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* 140% */
}

.buy-car-online-right>p {
    margin-bottom: 30px;
    color: #FFF;

    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.75px;
    /* 185% */
}

.buy-car-online-right>button {
    width: 158.94px;
    height: 53.22px;

    color: #FFF;
    background: #050B20;
    border-radius: 12px;
    border: 1px solid #FFF;
}

.buy-car-online-numbers {
    display: flex;
    justify-content: space-evenly;

    width: 1580px;
    height: 307.69px;
    flex-shrink: 0;

    border-bottom: 1px solid #E1E1E1;
    background: #FFF;
}

.buy-car-online-numbers-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buy-car-online-numbers-block>h4 {
    color: #050B20;
    font-family: sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 53.2px;
    /* 140% */
}

.buy-car-online-numbers-block>p {
    color: #050B20;
    /*text-align: center;*/
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.5px;
    /* 250% */
}

.upcoming-cars>h4 {
    margin-top: 170px;
    margin-bottom: 40px;

    color: #050B20;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 100% */
}

.upcoming-cars-holder {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;

    margin-bottom: 90px;
}

.uc-cars-left-green {
    /*
    margin-top: 20px;
    margin-left: 20px;
    */
    position: absolute;
    top: 5px;
    transform: translate(-250px);

    border-radius: 30px;
    background: #3D923A;

    width: 104.23px;
    height: 29.89px;

    color: #FFF;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.9px;
    /* 185% */
    text-transform: capitalize;
    text-align: center;
}

.uc-cars-left-blue {
    /*
    margin-top: 20px;
    margin-left: 20px;
    */

    border-radius: 30px;
    background: #405FF2;

    position: absolute;
    top: 5px;
    transform: translate(-250px);

    width: 110.38px;
    height: 29.89px;

    color: #FFF;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.9px;
    /* 185% */
    text-transform: capitalize;
    text-align: center;
}

.upcoming-cars-info {
    width: 328px;

    display: flex;
    flex-direction: column;
}

.upcoming-cars-info>h4 {
    margin-top: 15px;
    margin-left: 31px;
    margin-bottom: 10px;

    /*
    width: 133.383px;
    height: 21.6px;
    */

    color: #050B20;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.6px;
    /* 120% */
}

.upcoming-cars-info>p {
    margin-left: 31px;

    width: 257.7px;
    height: 28px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 100% */
}

.uc-icons {
    margin-top: 10px;

    display: grid;
    grid-template-columns: auto auto auto;
}

.uc-icon-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uc-icon-set>img {
    margin-bottom: 10px;

    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.uc-icon-set>p {
    color: #050B20;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 100% */
}

.uc-cars-prices {
    margin-top: 30px;
    margin-left: 31px;

    display: grid;
    grid-template-columns: auto auto;
}

.uc-cars-prices>h4 {
    color: #050B20;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 150% */
}

.uc-cars-prices>p {
    color: #405FF2;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.75px;
    /* 185% */
}

.upcoming-cars-below {
    margin-top: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.img-review:hover {
    cursor: pointer;
}

.customers-feedback {
    display: flex;
    justify-content: space-between;

    margin-top: 115px;
    margin-bottom: 115px;
}

.customers-feedback-left {}

.customers-feedback-left>h4 {
    margin-bottom: 50px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 120% */
    text-transform: capitalize;
}

.customers-feedback-left>h2 {
    margin-bottom: 20px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 100% */
}

.txt-block {
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    gap: 5px;
}

.txt-01 {
    color: #050B20;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    /* 100% */
}

.txt-02 {
    color: #050B20;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    /* 100% */
}

.customers-feedback-right {}

.rightBtn,
.leftBtn:hover {
    cursor: pointer;
}

.cf-arrows {
    margin-bottom: 100px;

    display: flex;
    justify-content: end;
    gap: 70px;
}

.cf-top {
    margin-bottom: 20px;

    display: flex;
    gap: 30px;
}

.cf-stars-holder {
    display: flex;
    gap: 2px;
}

.cf-stars-block {
    background: #00B67A;
    width: 19.25px;
    height: 20.5px;
}

.cf-stars-block>img {
    padding: 4px;
}

.cf-verified {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cf-verified>p {
    color: #6C6C83;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.9px;
    /* 185% */
}

.cf-verified-circle {
    width: 17px;
    height: 17.5px;

    border-radius: 8.5px;
    background: #6C6C83;
}

.cf-verified-circle>img {
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
}

.cf-designer>h4 {
    color: #050B20;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.6px;
    /* 120% */
}

.cf-designer>p {
    margin-bottom: 40px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.9px;
    /* 185% */
}

.cf-designer-txt {
    width: 748.447px;
    height: 124.8px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 41.6px;
    /* 160% */
}

.cf-team {
    display: flex;
    gap: 30px;
}

/* Border za aktivnu sliku */
.img-review.active {
    border-radius: 35px;
    border: 2px solid #405FF2;
}

.cf-team-photo-blured {
    border-radius: 35px;
    opacity: 0.3;
}

.latest-blog-posts {
    margin-top: 250px;
}

.latest-blog-posts-top {
    display: flex;
    justify-content: space-between;
}

.latest-blog-posts-top>h4 {
    margin-bottom: 40px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 100% */
}

.latest-blog-posts-top>p {
    color: #050B20;
    /*text-align: center;*/
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    /* 100% */
}

.latest-blog-posts-holder {
    display: flex;
    justify-content: space-between;
}

.latest-blog-posts-img-1 {
    background-image: url(/Autobox/assets/img/detail-post-qgcqjbpfnsa2eljzsmpa5fzwhwfyhukx3izjwiox88.jpg.png);

    width: 447px;
    height: 298px;
    flex-shrink: 0;

    display: flex;
}

.latest-blog-posts-img-2 {
    background-image: url(/Autobox/assets/img/blog9-qgcqjcn9umbcq7imn53wpxrd3abbpjonfnn1dsnj20.jpg.png);

    width: 447px;
    height: 298px;
    flex-shrink: 0;

    display: flex;
}

.latest-blog-posts-img-3 {
    background-image: url(/Autobox/assets/img/blog7-qgcqjcn9umbcq7imn53wpxrd3abbpjonfnn1dsnj20.jpg.png);

    width: 447px;
    height: 298px;
    flex-shrink: 0;

    display: flex;
}

.lbp-sound {
    margin-top: 20px;
    margin-left: 20px;

    border-radius: 30px;
    background: #FFF;

    width: 71.97px;
    height: 35.89px;
}

.lbp-sound>p {
    padding-top: 5px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.9px;
    /* 185% */
    text-align: center;
}

.lbp-accessories {
    margin-top: 20px;
    margin-left: 20px;

    border-radius: 30px;
    background: #FFF;

    width: 110.38px;
    height: 35.89px;
}

.lbp-accessories>p {
    padding-top: 5px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.9px;
    /* 185% */
    text-align: center;
}

.lbp-exterior {
    margin-top: 20px;
    margin-left: 20px;

    border-radius: 30px;
    background: #FFF;

    width: 81.45px;
    height: 35.89px;
}

.lbp-exterior>p {
    padding-top: 5px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.9px;
    /* 185% */
    text-align: center;
}

.latest-blog-posts-info {}

.lbp-below-img {
    display: flex;
    gap: 30px;
}

.lbp-below-img>p {
    margin-top: 20px;
    margin-bottom: 5px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.75px;
    /* 185% */
    text-transform: capitalize;
}

.lbp-desc>p {
    color: #050B20;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 150% */
}

.premium-brands {
    margin-top: 115px;
}

.premium-brands-top {
    margin-bottom: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.premium-brands-holder {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 30px;
}

.premium-brands-top>h4 {
    color: #050B20;
    font-family: sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 100% */
}

.premium-brands-top>p {
    color: #050B20;
    /*text-align: center;*/
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    /* 100% */
}

.premium-brands-block {
    width: 209px;
    height: 180.59px;

    border-radius: 16px;
    border: 1px solid #E9E9E9;

    background: #FFF;
}

.premium-brands-block>img {
    padding: 25px 55px;
}

.premium-brands-block>p {
    color: #050B20;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.6px;
    /* 120% */
    text-align: center;
}

.faq-part {
    margin-top: 200px;
    margin-bottom: 200px;

    display: flex;
    justify-content: space-between;
}

.faq-part-left {
    width: 616.5px;
    height: 540.11px;
    flex-shrink: 0;
}

.faq-part-right {
    padding-top: 90px;
    padding-right: 90px;
}

.faq-part-right>h4 {
    margin-bottom: 20px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* 140% */
    text-transform: capitalize;
}

.faq-part-right>p {
    margin-bottom: 20px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.75px;
    /* 185% */
}

.faq-part-right-btn {
    margin-bottom: 20px;

    display: flex;
    gap: 20px;
}

.faq-btn-1 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 211.31px;
    height: 46px;

    border-radius: 44px;
    border: 1px solid #050B20;

    background: #FFF;
}

.faq-btn-1>p {
    padding: 12px 30px;

    color: #050B20;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    /* 100% */

    display: flex;
    align-items: center;
}

.faq-btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 217.64px;
    height: 46px;

    border-radius: 44px;
    border: 1px solid #050B20;

    background: #FFF;
}

.faq-btn-2>p {
    color: #050B20;

    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    /* 100% */

    display: flex;
    align-items: center;
}

.faq-main-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 158.94px;
    height: 53.22px;

    border-radius: 12px;
    border: 1px solid #050B20;

    background: #050B20;
    color: #FFF;
}

.faq-main-btn>p {
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    /* 100% */
}

.about-us {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.about-us-links {
    display: flex;
    flex-direction: column;

    width: 256px;
}

.about-us-links>h4 {
    color: #050B20;
    font-family: sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    text-transform: capitalize;
}

.about-us-links>a {
    margin-top: 20px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.75px;
    /* 185% */
    text-decoration: none;
}

.about-us-info {}

.about-us-info>h4 {
    margin-bottom: 20px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 100% */
}

.about-us-info>p {
    margin-bottom: 30px;

    color: #050B20;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.5px;
    /* 250% */
}

/*
.about-us-info>img:not(:first-child){
    margin-left: 30px;
}
*/

.about-us-info-icons {
    margin-top: 40px;

    display: flex;
    gap: 30px;
}

.terms-and-conditions {
    margin-top: 75px;
    margin-bottom: 25px;

    display: flex;
    justify-content: space-between;
}

.tac-left>h4 {
    color: #000;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.75px;
    /* 185% */
}

.tac-dot {
    width: 4px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #050B20;
}

.tac-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.tac-right>h4 {
    color: #000;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.75px;
    /* 185% */
}

/* ============================================================================================================================= */
/* RESPONSIVE */
/* ============================================================================================================================= */

@media only screen and (max-width: 1920px) {
    .hamburger {
        display: none;
    }
}

@media only screen and (max-width: 1883px) {
    .intro-car-type {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 1883px;
    }
}

@media only screen and (max-width: 1815px) {
    .intro-arrows-block {
        width: 75%;
    }
}

@media only screen and (max-width: 1680px) {
    .intro-arrows-block {
        width: 80%;
    }
}

@media only screen and (max-width: 1520px) {
    .intro-car-holder {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 900px;
    }
}

@media only screen and (max-width: 1510px) {
    .intro-arrows-block {
        width: 80%;
    }
    .most-searched-cars-tabs,
    .most-searched-cars>h4,
    .recommended-cars>h4,
    .upcoming-cars>h4 {
        margin-left: 100px;
    }

    .cf-designer-txt {
        width: 500px;
        height: 124.8px;
    }

    .faq-part-right-break {
        display: none;
    }

    .faq-part-left {
        margin-right: 200px;
    }
}

@media only screen and (max-width: 1420px) {
    /* Buy Car Online sekcija */
    .buy-car-online {
        width: 775px;
        height: 1200px;

        background: #050B20;

        display: flex;
        flex-direction: column;
    }
    .buy-car-online-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-bottom: 150px;
    }
    .most-searched-cars,
    .recommended-cars,
    .upcoming-cars {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .most-searched-cars-holder,
    .recommended-cars-holder,
    .upcoming-cars-holder {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 900px;
    }
    .customers-feedback {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 30px;
    }
}

@media only screen and (max-width: 1378px) {
    .premium-brands-holder {
        gap: 1px;
    }
}

@media only screen and (max-width: 1326px) {
    .boxcars-offerings {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boxcars-offerings-left,
    .boxcars-offerings-right {
        display: flex;
        justify-content: center;
    }
    .latest-blog-posts-top {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 50px;
    }
    .latest-blog-posts-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cf-designer-txt {
        font-size: 13px;
        font-style: normal;
        font-weight: 200;
        line-height: 22px;
    }
    .about-us {
        display: flex;
        flex-wrap: wrap;
        width: 700px;
        gap: 50px;
    }
}

@media only screen and (max-width: 1295px) {
    .car-deals {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .faq-part {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 1258px) {
    .top-part {
        margin-bottom: 100px;
    }
    .intro-arrows-block {
        width: 90%;
    }
    .intro-car-type {
        margin-bottom: 100px;
    }

    .intro-car-holder {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 900px;
    }
    .top-left>a {
        color: #050B20;

        font-family: sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 27.75px;
        /* 185% */
        text-transform: capitalize;
        text-decoration: none;
    }

    .most-searched-cars-holder,
    .recommended-cars-holder,
    .upcoming-cars-holder {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 900px;
    }

    /* Pokusaj: */
    .boxcars-offerings-left,
    .boxcars-offerings-right {
        display: flex;
        justify-content: center;
    }
    .buy-car-online-numbers {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
    }
    .premium-brands,
    .premium-brands-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .premium-brands-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 500px;
    }
}

@media only screen and (max-width: 1180px) {
    .intro-arrows-block {
        top: 10%;
        margin-left: 155px;
    }
    .intro-car-type {
        margin-top: -300px;
    }
    .intro-slide>img {
        width: 750px;
        height: 320px;
    }
    .intro-slide>h4 {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: #FFF;
        text-align: center;
        font-family: sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        /* 100% */
    }
    .intro-slide>p {
        position: absolute;
        width: 781.944px;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: #FFF;
        font-family: sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: 52px;
        /* 100% */
    }
    .intro-arrows-block {
        width: 65%;
        top: 25%;
    }
    .boxcars-offerings {
        display: flex;
        justify-content: center;
        margin-right: 200px;
    }
    .car-deals {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .boxcars-offerings-left,
    .boxcars-offerings-right {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 1070px) {
    .top-left>a:not(:first-child) {
        margin-left: 20px;
    }
    .boxcars-offerings {
        margin-left: 300px;
    }
}

@media only screen and (max-width: 1000px) {
    .intro-arrows-block {
        top: 30%;
    }
    .boxcars-offerings {
        margin-left: 400px;
    }
    .customers-feedback-right {
        margin-left: 400px;
    }
}

@media only screen and (max-width: 962px) {
    .top-left {
        display: flex;
        flex-wrap: wrap;
        /*width: 300px;*/
    }
    .intro-arrows-block {
        top: 25%;
        width: 50%;
    }
    .intro-slide>img {
        width: 500px;
        height: 180px;
    }
    .intro-slide>h4 {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: #FFF;
        text-align: center;
        font-family: sans-serif;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        /* 100% */
    }
    .intro-slide>p {
        position: absolute;
        width: 781.944px;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: #FFF;
        font-family: sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 52px;
        /* 100% */
    }
    .intro-car-type {
        margin-top: -400px;
    }
}

@media only screen and (max-width: 917px) {
    .customers-feedback {
        margin-right: 300px;
    }
}

@media only screen and (max-width: 896px) {
    .top-left {
        display: flex;
        flex-wrap: wrap;
        /*width: 200px;*/
    }
    .intro-arrows-block {
        width: 55%;
    }
    .boxcars-offerings {
        padding-right: 100px;
    }
}

@media only screen and (max-width: 836px) {
    .hamburger {
        display: flex;
        top: 10%;
    }
    .dropdown-content>a{
        font-family: sans-serif;
        text-decoration: none;
    }
    .mobile-img {
        background-color: #FFF;
    }
    .mobile-num {
        font-family: sans-serif;
        text-decoration: none;
    }
    .aa {
        font-family: sans-serif;
        text-decoration: none;
    }
    .top-left>a:not(:first-child) {
        display: none;
    }
    .intro-car-holder {
        display: flex;
        flex-direction: column;
    }
    .intro-car-type {
        margin-bottom: 1000px;
    }
}

@media only screen and (max-width: 787px) {
    .buy-car-online {
        width: 600px;
    }
    .buy-car-online-left>img{
        width: 600px;
    }
    .boxcars-offerings-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 744px) {
    .intro-slide>img {
        max-width: 100%;
        height: auto;
    }
    .intro-arrows-block {
        width: 50%;
    }
}

@media only screen and (max-width: 690px) {
    /*
    .most-searched-cars,
    .recommended-cars,
    .upcoming-cars {
        display: flex;
    }
    */
    
    .intro-cars {
       margin-left: -100px;
    }
    .most-searched-cars-holder,
    .recommended-cars-holder,
    .upcoming-cars-holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 500px;
    }
}

@media only screen and (max-width: 632px) {
    .boxcars-offerings {
        margin-left: 200px;
    }
}
