@media only screen and (max-width: 770px) {
    body {
        height: 1000px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .right-part {
        height: 450px;
    }
}

@media only screen and (max-width: 450px) {
    .container {
        width: 400px;
    }

    .mortgage-info {
        width: 320px;
    }

    .yellow-span {
        width: 360px;
    }

    .after-submit>p{
        width: 360px;
    }
}

@media only screen and (max-width: 410px) {
    .container {
        width: 370px;
    }

    .mortgage-info {
        width: 70%;
    }

    .yellow-span {
        width: 73%;
        position: absolute;
    }

    .after-submit>p{
        width: 80%;
    }

    .yellow-span{
        margin-top: 175px;
    }
}

@media only screen and (max-width: 365px) {
    .container {
        width: 300px;
    }

    .mortgage-info {
        width: 55%;
    }

    .yellow-span {
        width: 59%;
    }

    .after-submit>p{
        width: 270px;
    }
}

@media only screen and (max-width: 305px) {
    .container {
        width: 260px;
    }

    .after-submit>p{
        width: 240px;
    }

    .mortgage-info {
        width: 45%;
    }

    .monthly-repayments>p{
        font-size: 40px;
    }

    .yellow-span {
        width: 50%;
    }

    button {
        width: inherit;
    }
}
