html {
    max-width: 1920px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    justify-content: center;

    /* newly added! */
    height: 900px;
}

.clear-all {
    color: rgb(110, 143, 162);
    text-decoration: underline;
    cursor: pointer;
}

.container {
    display: flex;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    gap: 30px;
}

.left-part {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-input-txt {
    width: 100%;
    text-indent: 10px;
}

input {
    height: 25px;
    outline-color: yellow;
}

input[type='radio']::after{
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 2px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked::after{
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 2px;
    position: relative;
    background-color: yellow;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

/* Remove HTML Number Input Arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/* =============================== */

.input-error {
    color: red;
    font-weight: bold;
}

.input-holder {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input-radio-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 10px;
}

.input-content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.input-hint {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-right: 1px;
    margin-top: 1px;
    padding-left: 15px;
    padding-right: 15px;
    height: 29px;
}

.input-hint>p {
    font-weight: bold;
}

.active {
    background-color: yellow;
}

.wrapper-div {
    display: flex;
    flex-direction: column;
}

.radio-div {
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding-left: 15px;
    height: 35px;
    gap: 10px;
}

label {
    display: inline-block;
    color: rgb(110, 143, 162);
    font-size: 20px;
    margin-bottom: 10px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    background-color: yellow;
    border-style: none;
    border-radius: 30px;
    font-size: medium;
    cursor: pointer;
    width: 300px;
    height: 40px;
    gap: 15px;
}

#amount {
    padding-left: 35px;
}

.right-part {
    display: flex;
    background-color: rgb(19, 48, 64);

    /* Properties for: "top, bottom" and "left, right" radius */
    border-top-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 15px;
}

.right-img {
    width: 150px;
    height: 150px;
}

.before-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 400px;
    padding: 20px;
}

.before-submit>p{
    color: rgb(110, 143, 162);
}

.after-submit {
    display: none;
    flex-direction: column;
    width: 400px;
    padding: 20px;
}

/* Animations */

.fade-out {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.fade-in {
    position: absolute;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* ========== */

.after-submit>h2{
    color: white;
}

.after-submit>p{
    color: rgb(110, 143, 162);
}

.mortgage-info {
    display: flex;
    flex-direction: column;
    background-color: rgb(14, 36, 49);
    border-radius: 15px;
    padding: 20px;
    gap: 10px;
    z-index: 10;
}

.monthly-repayments {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.monthly-repayments>h2{
    color: rgb(110, 143, 162);
    font-size: medium;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}

.monthly-repayments>p{
    color: yellow;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.line {
    background-color: gray;
    opacity: 0.5;
    height: 1px;
}

.total-repay {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.total-repay>h2{
    color: rgb(110, 143, 162);
    font-size: medium;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}

.total-repay>p{
    color: white;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.yellow-span {
    display: flex;
    background-color: yellow;
    border-radius: 15px;
    margin-top: 155px;
    position: absolute;
    visibility: visible;
    width: inherit;
    height: 30px;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        display: flex;
    }
    100% {
        opacity: 1;
    }
}
