.naslov{
    margin-bottom: 10px;
    font-size: 24px;
    color: green;
}

.opis{
    margin-bottom: 5px;
    font-size: 16px;
    letter-spacing: normal;
    line-height: normal;
    color: blue;
}

.cjelina {
    margin: auto;
    padding: 0;
    margin-left: 952px;
}