* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    max-width: 1580px;
    margin: auto;
    display: flex;
    height: 103.75px;
    padding: 28px 90px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: #fff;
}
main {
    margin: auto;
}
.logo {
    display: flex;
    width: 80px;
    height: 26px;
    margin-top: 10px;
    padding-right: 0px;
    align-items: center;
    flex-shrink: 0;
}
nav {
    display: flex;
    width: 100%;
    height: 45.75px;
    justify-content: space-around;
    align-items: flex-start;
    gap: 30px;
    color: #050b20;
    font-family: "DM Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.75px; /* 185% */
    text-transform: capitalize;
    text-decoration: none;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    color: #0b31f0;
    text-decoration: underline;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover img {
    background-color: #3e8e41;
}
#num {
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin-right: 315px;
}
#num img {
    height: 18px;
    align-items: flex-start;
    gap: 9px;
    justify-content: center;
    float: left;
}
#sign {
    display: flex;
    width: 81.39px;
    height: 27.75px;
    padding: 8px 0px 1.75px 0px;
}
#sign :hover {
    text-decoration: underline;
}

.home {
    display: flex;
    width: 57.28Ppx;
    height: 45.75px;
    padding: 8.125px 0px 9.875px 0px;
    justify-content: flex-start;
    align-items: center;
    gap: 3.471px;
    flex-shrink: 0;
}

.listings {
    display: flex;
    width: 69.72px;
    height: 45.75px;
    padding: 8.125px 0px 9.875px 0px;
    justify-content: center;
    align-items: center;
    gap: 3.432px;
    flex-shrink: 0;
}
.blog {
    display: flex;
    width: 45.58px;
    height: 45.75px;
    padding: 8.125px 0px 9.875px 0px;
    justify-content: center;
    align-items: center;
    gap: 3.508px;
    flex-shrink: 0;
}
.pages {
    display: flex;
    width: 57.09px;
    height: 45.75px;
    padding: 8.125px 0px 9.875px 0px;
    justify-content: center;
    align-items: center;
    gap: 3.472px;
    flex-shrink: 0;
}
.about {
    display: flex;
    width: 43.56px;
    height: 45.75px;
    padding: 8.125px 0px 9.875px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.contact {
    display: flex;
    width: 57.72px;
    height: 45.75px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.button {
    display: flex;
    width: 152.86px;
    height: 47.75px;
    padding: 9.125px 25.644px 12.875px 26px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #050b20;
    background: #fff;
    text-decoration: none;
    color: #050b20;
}

/*MODAL---------------------------------------------*/
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for button */
button {
    background-color: #6887b4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.button:hover {
    opacity: 1;
    background: #9ec7d3;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #e670d6;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container22 {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}
/* BIG CAR-----------------------------------------------*/
.car {
    display: flex;
    max-width: 1580px;
    margin: auto;
    height: 660px;
    padding: 50px 90px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #fff;
    position: relative;
    top: 50px;
}
/*SLIDER*/
.mySlides {
    display: none;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
/*-------------------------------*/
/*bivša Slika pozadine */
.car > :first-child {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
}
.car p {
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    width: 299.867px;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 450px;

    /* tekst*/
    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}
.car h1 {
    display: flex;
    width: 781.944px;
    height: 52px;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-family: "DM Sans";
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px; /* 100% */
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
    padding-bottom: 300px;
}
.car-img-slider {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.car-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.car-slide.active {
    opacity: 1;
}
.car-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
*/ .car-arrows-block {
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    background-color: #772f2f;
}
.car .arrowright,
.car .arrowleft {
    width: 63px;
    height: 40px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.car .arrowright:hover,
.car .arrowleft:hover {
    background: rgb(131, 138, 199);
    transition: 0.5s ease-in-out;
}
.arrowleft,
.arrowright {
    display: inline-flex;
    height: 40px;
    width: 60px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.2);
}
.arrowleft {
    position: absolute;
    margin-right: 1280px;
}
.arrowright {
    position: absolute;
    margin-left: 1280px;
}
.form {
    display: flex;
    width: 1880px;
    height: 115px;
    background: white;
    position: relative;
    margin-top: -20px;
}
/*--SELECT A BODY STYLE---------------------*/
.bodystyle {
    color: #e8e6e3;
    display: flex;
    width: 1580px;
    padding: 115px 0px 196.25px 0px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: #fff;
    margin-bottom: 40px;
    margin-left: 100px;
}
h2 {
    display: flex;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    color: #050b20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
}
/*select u figmi je container*/
.select {
    flex-flow: row wrap;
    display: flex;
    height: 201.59px;
    padding: 0px 11px 15px 15px;
    justify-content: center;
    align-items: flex-start;
    gap: 55px;
    margin-bottom: 70px;
    margin-left: 50px;
}
.select p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #050b20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.6px; /* 120% */
}
.select .div {
    display: flex;
    width: 234px;
    height: 186.59px;
    padding: 0px 17px 0.79px 17px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14.2px;
    background: #fff;
}
.select1:hover {
    background: #a1d0f0a8;
    border-radius: 10%;
}
/*WE'RE BIG ON WHAT MATTERS TO YOU--------*/
.container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 180px;
    width: px;
    height: 720px;
    flex-shrink: 1;
    background: #f9fbfc;
    position: relative;
    top: 140px;
}
.heading {
    justify-content: flex-start;
    display: flex;
    height: 80px;
    width: 700px;
    padding-right: 200.38px;
    padding-top: 80px;
    padding-left: 100px;
    align-items: flex-start;
    flex-shrink: 0;
}
.big {
    display: flex;
    width: 366.62px;
    height: 96px;
    flex-direction: row;
    color: #050b20;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
    text-transform: capitalize;
    text-align: left;
}
.fd {
    display: flex;
    width: 790px;
    height: 460px;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 40px;
    justify-content: space-evenly;
}
.fd1,
.fd2,
.fd3,
.fd4 {
    align-content: flex-start;
    flex-shrink: 0;
}
.fd1 :hover {
    color: #7c0258;
}
.fd2 :hover {
    color: #7c0258;
}
.fd3 :hover {
    color: #7c0258;
}
.fd4 :hover {
    color: #7c0258;
}
.fd1,
.fd2,
.fd3,
.fd4 img {
    margin-bottom: 10px;
}
h6 {
    margin-bottom: 10px;
    display: flex;
    width: 228.207px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #050b20;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
}
.container p {
    display: flex;
    width: 311.28px;
    height: 55.5px;
    flex-direction: column;
    justify-content: center;
    color: #050b20;
    font-family: "DM Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.75px; /* 185% */
}
/*The Most Searched Cars----------------------------------*/
.heading1 {
    position: relative;
    margin-left: 150px;
    display: flex;
    width: 1920px;
    height: 276px;
    padding: 115px 551.404px 121px 251.8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #fff;
}
.heading1 h2 {
    position: absolute;
    display: flex;
    width: 476.796px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #050b20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
}
.tablist {
    position: absolute;
    padding-top: 120px;
    display: flex;
    width: 1400px;
    height: 40.89px;
    padding-bottom: 1px;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
}
.tablist div {
    display: flex;
    height: 29.6px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #050b20;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 29.6px; /* 185% */
}
.tablist a {
    text-decoration: none;
}
.container1 {
    flex-flow: row wrap;
    position: relative;
    display: inline-flex;
    padding: 0px 13px 90px 250px;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}
.artickle {
    display: flex;
    width: 328px;
    height: 433.14px;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 16px;
    background: #fff;
}
.container2 {
    width: 328px;
    height: 218.65px;
    flex-shrink: 0;
    position: relative;
}
#car9,
#car10,
#car11,
#car20,
#car6,
#car3,
#car1,
#car9,
#car14,
#car13,
#car19 {
    display: flex;
    width: 328px;
    height: 218.65px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.greatprice {
    position: absolute;
    top: 28px;
    left: 28px;
    display: flex;
    width: 104.23px;
    height: 29.9px;
    padding: 1.05px 14.686px 2.95px 15px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    background: #3d923a;
}
.greatprice > a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.sale {
    position: absolute;
    top: 28px;
    left: 28px;
    display: flex;
    width: 57.47px;
    height: 29.9px;
    padding: 1.05px 14.635px 2.95px 15px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    background: #405ff2;
}
.sale > a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.link1 {
    position: absolute;
    top: 28px;
    right: 28px;
    display: flex;
    width: 36px;
    height: 36px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 18px;
    background: #fff;
}
.link1 > img {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
}
.border {
    display: flex;
    width: 328px;
    padding: 16px 31px 19px 31px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4.6px;
    border-radius: 0px 0px 16px 16px;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
}
.heading2 {
    display: flex;
    width: 133.08px;
    height: 24px;
    padding: 1.2px 0px;
    justify-content: center;
    align-items: center;
}
.heading2 p {
    display: flex;
    width: 133.383px;
    height: 21.6px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #050b20;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.6px; /* 120% */
}
.container3 {
    display: flex;
    height: 16px;
    padding: 2px 8.3px 0px 0px;
    align-items: center;
}
.container3 p {
    display: flex;
    width: 257.7px;
    height: 28px;
    flex-direction: column;
    justify-content: center;
    color: #050b20;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}
.horizontalborder {
    border-top: 1px solid #e9e9e9;
    width: 266px;
    height: 69.29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}
.horizontalborder img {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    margin-left: 8px;
}
.horizontalborder p {
    display: flex;
    width: 50.303px;
    height: 14px;
    flex-shrink: 0;
    color: #050b20;
    text-align: left;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}
.horizontalborder2 {
    border-top: 1px solid #e9e9e9;
    display: flex;
    height: 56.4px;
    padding: 16px 0px 10.4px 0px;
    justify-content: center;
    align-items: flex-end;
    gap: 76.468px;
}
.horizontalborder2 p {
    display: flex;
    width: 79.302px;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    color: #050b20;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 0.7;
}
.link2 {
    display: flex;
    width: 110.23px;
    height: 27.75px;
    justify-content: center;
    align-items: center;
    gap: 9.534px;
}
.link2 p {
    display: flex;
    width: 86.696px;
    height: 27.75px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #405ff2;
    font-family: "DM Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.75px; /* 185% */
}
.arr {
    position: absolute;
    bottom: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #fff;
    column-gap: 50px;
}
.leftarrow {
    float: left;
    width: 60px;
    height: 40px;
    padding: 13px 0px 15px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #e9e9e9;
    background: #fff;
}
.rightarrow {
    width: 60px;
    height: 40px;
    padding: 13px 0px 15px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #e9e9e9;
    background: #fff;
}
.lowmileage > a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
/*ARE YOU LOOKING FOR A CAR, DO YOU WANT TO SELL A CAR*/
.lookingsell {
    margin-top: 80px;
    position: relative;
    display: flex;
    width: 1580px;
    padding: 0px 90px 96.01px 412px;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    background: #fff;
}
.looking {
    padding-left: 70px;
    align-content: space-around;
    padding-top: 70px;
    width: 685px;
    height: 393.72px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #e9f2ff;
}
.sell {
    padding-left: 70px;
    align-content: space-around;
    padding-top: 70px;
    border-radius: 16px;
    background: #ffe9f3;
    width: 685px;
    height: 393.72px;
    flex-shrink: 0;
}
.heading3 {
    display: inline-flex;
    height: 90px;
    padding-right: 291.5px;
    align-items: center;
    flex-shrink: 0;
}
h3 {
    display: flex;
    width: 233.5px;
    height: 90px;
    flex-direction: column;
    justify-content: center;
    color: #050b20;
    font-family: "DM Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 150% */
}
.lookingsell p {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    width: 355.39px;
    height: 55.5px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #050b20;
    font-family: "DM Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.75px; /* 185% */
}
.getstarted {
    float: left;
    display: flex;
    width: 158.94px;
    height: 59.995px;
    padding: 19.11px 26px 25.775px 26px;
    justify-content: center;
    align-items: flex-start;
    gap: 9.672px;
    flex-shrink: 0;

    border-radius: 12px;
    border: 1px solid #405ff2;
    background: #405ff2;
}
.lookingsell a {
    display: flex;
    width: 83.268px;
    height: 15px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 100% */
    text-decoration: none;
}
.electriccar {
    padding-bottom: 40px;
    position: relative;
    margin-left: 400px;
    margin-bottom: 50px;
    display: flex;
    width: 110px;
    height: 110px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.electriccar2 {
    padding-bottom: 40px;
    position: relative;
    margin-left: 400px;
    margin-bottom: 50px;
    display: flex;
    width: 110px;
    height: 110px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
/*RECOMMENDED CARS FOR YOU----------------*/
.container10 {
    flex-flow: row wrap;
    position: relative;
    display: inline-flex;
    padding: 0px 13px 90px 250px;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}
.artickle10 {
    display: flex;
    width: 328px;
    height: 433.14px;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 16px;
    background: #fff;
}
.recomended {
    display: flex;
    width: 1580px;
    height: 276px;
    padding: 115px 515.223px 121px 515.52px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #fff;
}
.recomended > h2 {
    width: 549.257px;
}
.lowmileage {
    position: absolute;
    top: 28px;
    left: 28px;
    display: flex;
    width: 110.38px;
    height: 29.89px;
    padding: 1.05px 14.676px 2.94px 15px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    background: #405ff2;
}
.arrrec {
    position: absolute;
    bottom: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #fff;
    column-gap: 50px;
}
.leftarrowrec {
    float: left;
    width: 60px;
    height: 40px;
    padding: 13px 0px 15px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #e9e9e9;
    background: #fff;
}
.rightarrowrec {
    width: 60px;
    height: 40px;
    padding: 13px 0px 15px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #e9e9e9;
    background: #fff;
}
/*ONLINE IN PERSON EVERYWHERE-----------------*/
.online {
    margin-left: 175px;
    margin-top: 100px;
    width: 1580px;
    height: 600px;
    flex-shrink: 0;
    background: #050b20;
}
.heading4 {
    position: relative;
    bottom: 400px;
    left: 120px;
    display: inline-flex;
    height: 112px;
    padding-right: 228.6px;
    align-items: center;
    flex-shrink: 0;
}
.heading4 > p {
    display: flex;
    width: 351.4px;
    height: 112px;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 140% */
}
.choose {
    position: relative;
    bottom: 360px;
    left: 900px;
    display: flex;
    width: 572.23px;
    height: 55.5px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #fff;
    font-family: "DM Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.75px; /* 185% */
}
.online > .getstarted {
    position: relative;
    bottom: 300px;
    left: 900px;
    border-radius: 12px;
    border: 1px solid #fff;
    display: flex;
    background: #050b20;
}
.online > .getstarted > a {
    text-decoration: none;
    color: #fff;
}
.statistic {
    position: relative;
    margin: auto;
    top: 50px;
    right: 180px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 1580px;
    height: 307.69px;
    flex-shrink: 0;
    border-bottom: 1px #e1e1e1;
    background: #fff;
}
.data {
    width: 130px;
    height: 100px;
}
.data > .m {
    /* inline css za "836M" posebno, ako se makne, 
   onda za njega ne funkcionira vanjski css*/
    text-align: center;
    display: flex;
    width: 105.192px;
    height: 53.2px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #050b20;
    font-family: "DM Sans";
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 53.2px; /* 140% */
}

/*UPCOMING CARS------------------------------------*/
.container20 {
    flex-flow: row wrap;
    position: relative;
    display: inline-flex;
    padding: 0px 13px 90px 250px;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}
.artickle20 {
    display: flex;
    width: 328px;
    height: 433.14px;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 16px;
    background: #fff;
}
.upcoming {
    position: relative;
    bottom: 50px;
}
.arrup {
    position: absolute;
    bottom: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #fff;
    column-gap: 50px;
}
.leftarrowup {
    float: left;
    width: 60px;
    height: 40px;
    padding: 13px 0px 15px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #e9e9e9;
    background: #fff;
}
.rightarrowup {
    width: 60px;
    height: 40px;
    padding: 13px 0px 15px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #e9e9e9;
    background: #fff;
}
/*WHAT OUR CUSTOMERS SAY-------------------------------------*/

.customers {
    margin-top: 150px;
    margin-left: 170px;
    width: 1580px;
    height: 844.16px;
    flex-shrink: 0;
    background: #f9fbfc;
}
.leftcust {
    margin-left: 80px;
    margin-top: 100px;
    width: 620px;
    float: left;
}
.leftcust > img {
    margin-bottom: 20px;
    flex-shrink: 0;
}
.heading5 {
    display: inline-flex;
    height: 96px;
    padding-right: 317.49px;
    align-items: center;
    margin-bottom: 40px;
}
.heading5 > h2 {
    text-align: left;
    line-height: 1.3;
}
.great {
    margin-bottom: 20px;
}
.based {
    margin-bottom: 20px;
}
span {
    margin-bottom: 50px;
    padding-bottom: 50px;
}
span p {
    display: inline;
}
.rightcust {
    margin-top: 160px;
    float: right;
    width: 786.5px;
    height: 348.16px;
    flex-shrink: 0;
}
.customers > .rightcust > .buttons > .arr1 {
    float: right;
    margin-right: 25px;
}
.rightcust1 {
    margin-top: 100px;
}
.backgr {
    display: inline;
    width: 19.25px;
    height: 20.5px;
    padding: 4px 3.672px 6.5px 4px;
    background: #00b67a;
}
.backg {
    display: inline;
    width: 17px;
    height: 17.5px;
    padding: 0px 4.125px 0.5px 4.5px;
    border-radius: 8.5px;
    background: #6c6c83;
}
.designer {
    position: relative;
    top: 35px;
}
.ali {
    position: relative;
    top: 30px;
    display: flex;
    width: 81.495px;
    height: 21.6px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #050b20;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.6px; /* 120% */
}
.textreview {
    position: relative;
    top: 60px;
    display: flex;
    width: 748.447px;
    height: 124.8px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #050b20;
    font-family: "DM Sans";
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 41.6px; /* 160% */
}
.team {
    position: relative;
    top: 90px;
    display: flex;
    width: 760.5px;
    height: 70px;
    padding: 0px 513px 0px 7.5px;
    align-items: flex-start;
    gap: 15px;
    flex-shrink: 0;
}
.border1 {
    display: flex;
    width: 70px;
    height: 70px;
    padding: 6px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 35px;
}
.blueborder {
    border: 2px solid #405ff2;
}
.noborder {
    opacity: 0.3;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0px;
    float: right;
}
.leftarrow1,
.rightarrow1 {
    display: flex;
    width: 60px;
    height: 40px;
    padding: 13px 0px 15px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #e9e9e9;
    background: #fff;
    float: right;
    margin-right: 25px;
}
/*LATEST BLOG POSTS--------------------*/
.heading6 {
    margin-left: 260px;
    padding-top: 150px;
    width: 1370px;
    height: 275.99px;
    flex-shrink: 0;
    background: #fff;
}
.heading6 > h2 {
    float: left;
}
.heading6 > a {
    text-decoration: none;
    float: right;
    color: black;
}
.bmwcars {
    margin-bottom: 80px;
    margin-left: 165px;
    display: flex;
    width: 1580px;
    padding: 15px 75px 181px 75px;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.cont {
    flex-flow: row wrap;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    width: 1430px;
    height: 441.09px;
    padding: 0px 14px 30px 15px;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
}
.artickle1 {
    width: 447px;
    height: 411.09px;
    flex-shrink: 0;
}
.cont1 {
    width: 447px;
    height: 298px;
    flex-shrink: 0;
    border-radius: 16px;
}
.cont1 > img {
    border-radius: 16px;
    width: 447px;
    height: 298px;
    flex-shrink: 0;
}
.cont1 a {
    display: flex;
    width: 71.97px;
    height: 35.89px;
    padding: 4.05px 14.672px 5.94px 15px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    background: #fff;
    text-decoration: none;
}
.cont1 a:hover {
    background: #b9d7df;
}
.back a p {
    bottom: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #050b20;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.9px; /* 185% */
}
#exterior {
    width: 51.8px;
    height: 25.9px;
}
.back {
    position: relative;
    bottom: 275px;
    left: 15px;
}
.back a {
    width: 110.36px;
    height: 35.89px;
}
.back p {
    width: 80.7px;
    height: 25.9px;
}
.admin {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
}
.admin > a {
    text-decoration: none;
    color: black;
}
.dot {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: #e1e1e1;
    position: relative;
    top: 5px;
}
.bmw {
    margin-top: 20px;
    display: flex;
    width: 428.16px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #050b20;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
}
/*EXPLORE OUR PREMIUM BRANDS-------------*/
.heading60 {
    position: relative;
    bottom: 250px;
}
.explore {
    position: relative;
    bottom: 250px;
    display: flex;
    width: 1580px;
    padding: 15px 75px 211px 300px;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin-left: 40px;
}
.container4 {
    display: flex;
    width: 1430px;
    height: 180.59px;
    padding: 0px 11px 0px 15px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
}
.container5 {
    display: flex;
    width: 209px;
    height: 180.59px;
    padding: 26px 54.5px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #e9e9e9;
    background: #fff;
}
.container5 :hover {
    font-size: 20px;
    color: #54c3f3;
}
.link3 {
    position: relative;
    display: flex;
    width: 100px;
    height: 128.59px;
    padding-bottom: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.2px;
    flex-shrink: 0;
}
.link3 p {
    position: absolute;
    top: 100px;
}
.mark1 {
    width: 39px;
}
.mark2 {
    width: 131px;
}
.mark3 {
    width: 70px;
}
.mark4 {
    width: 99px;
}
/*HAVE MORE QUESTION--------------------*/
.container6 {
    padding-top: 150px;
    position: relative;
    bottom: 260px;
    margin-left: 260px;
    width: 1580px;
    height: 866.11px;
    flex-shrink: 0;
    background: #f9fbfc;
}
.container6 > img {
    float: left;
}
.right1 {
    margin-right: 300px;
    padding-top: 130px;
    float: right;
    flex-direction: column;
    align-content: center;
    display: flex;
    width: 546.26px;
    height: 540.11px;
    justify-content: flex-start;
}
.heading7 {
    display: flex;
    width: 546.26px;
    height: 112px;
    flex-direction: row;
}
.right1 h2 {
    align-content: center;
    text-align: left;
    line-height: 1.5;
}
.addres {
    display: flex;
    width: 210.47px;
    height: 55.5px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.addres p {
    color: #050b20;
    font-family: "DM Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.75px; /* 185% */
}
.link45 {
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
}
.link4 {
    margin-right: 30px;
    float: left;
    display: flex;
    width: 211.31px;
    height: 46px;
    padding: 12px 20.236px 12px 21px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 44px;
    border: 1px solid #050b20;
    background: #fff;
}
.link4:hover {
    background: #b5d1dd;
}
.link4 a {
    color: #050b20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 100% */
    text-decoration: none;
    padding-bottom: 2px;
    vertical-align: sub;
}
.link5 {
    float: right;
    flex-direction: row;
    height: 46px;
    display: flex;
    padding: 12px 10.235px 12px 21px;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 12px;
    border-radius: 44px;
    border: 1px solid #050b20;
    background: #fff;
}
.link5:hover {
    background: #b5d1dd;
}
.link5 a {
    color: #050b20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 100% */
    text-decoration: none;
    vertical-align: sub;
}
.container6 .getstarted {
    background: #050b20;
}
.getstarted10 {
    text-decoration: none;
    color: #fff;
}
/*FOOTER--------------------------------------*/
footer {
    position: relative;
    bottom: 150px;
    display: flex;
    margin-left: 260px;
    width: 1580px;
    height: 460px;
    flex-shrink: 0;
    background: #fff;
}
.company,
.quick,
.our,
.vehicles,
.salehours {
    max-width: 330px;
}
li a:hover {
    font-size: 20px;
    font-style: italic;
    color: #0627c9;
    text-decoration: underline;
}
ul {
    list-style-type: none;
    overflow: hidden;
}
li {
    margin-bottom: 22px;
}
.hours p {
    margin-bottom: 20px;
}
.connect {
    margin-bottom: 22px;
}
.socnet {
    display: inline;
}
.socnet #a:hover {
    width: 5%;
}
.socnet #b:hover {
    width: 10%;
}
.socnet #c:hover {
    width: 10%;
}
.socnet #d:hover {
    width: 10%;
}
li a {
    width: 40px;
    height: 40px;
    margin-right: 30px;
    text-decoration: none;
    color: #050b20;
    font-family: "DM Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.75px; /* 185% */
}
.last {
    margin-bottom: 100px;
    margin-left: 260px;
    padding: 0px;
    width: 1580px;
    height: 99.09px;
    flex-shrink: 0;
    border-top: #e1e1e1;
    background: #fff;
}
.last p {
    float: left;
}
.terms {
    float: right;
    display: flex;
    width: 265.81px;
    height: 28.625px;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    flex-shrink: 0;
}
.dot1 {
    width: 4px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #050b20;
    margin: 7px;
}
/* ==================================== */
/* Loader */
/* ==================================== */
.loader-wrapper {
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #333;
}

.hide-loader {
    display: none;
}
.hide-content {
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #fff;
    animation: prixClipFix 2s linear infinite;
}
.loader::after {
    border-color: #ff3d00;
    animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
    inset: 6px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}

/* ==================================== */
/* Hamburger Menu */
/* ==================================== */
/* 
body {
    overflow-x: hidden;
} */

.hamburger {
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    background-color: #333;
    padding: 10px;
    height: 45px;
    border-radius: 5px;
}

.line {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-bottom: 0;
    padding-bottom: 0;
}

.hamburger-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
    left: 100%;
    z-index: 50;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease;
}

.hamburger-menu.active {
    left: 0%;
}

.hamburger-menu ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

.hamburger-menu ul li {
    list-style: none;
    color: #f4f4f4;
    font-size: 25px;
}

.hamburger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);
}

.hamburger-menu a {
    color: white;
}
